body{font:normal 18px/160% arial,"microsoft yahei"; color:#000;/*text-align:justify;text-justify:inter-ideograph;*/}
body,p,ul,li,ol,h1,h2,h3,h4,h5,h6,dl,dt,dd,form,iframe{margin:0;padding:0;}
ul,li,ol{list-style:none outside none;}
img{border:0 none;vertical-align:top;width:100%;}
input,select{vertical-align:middle;font-family: "microsoft yahei" !important;}
pre{white-space:normal;}
.edge{margin:0 auto; font-family: "microsoft yahei" !important; text-shadow:0 0 0 #000000 !important;}
.clear{zoom:1;clear:both;}
.clear:after{content:".";height:0;display:block;clear:both;visibility:hidden;font-size:0;}
a{text-decoration:none;color:#333;}
/*a:visited{color:#aaa;}*/
/*a:hover,*/
a:active{color:#999;}
.fix{font-size:0;height:1px;}
.fl{float:left;}
.fr{float:right;}
body{background:#fff;}
.d-b{display:block;}
.d-box{display:-webkit-box;display:-moz-box;display:box;}
.border1{border:solid 1px #bfbfbf;}
.flex1{-moz-box-flex: 1;-webkit-box-flex: 1;box-flex: 1;display:block;}
.flex2{-moz-box-flex: 2;-webkit-box-flex: 2;box-flex: 2;display:block;}
.vcenter{-webkit-box-align: center;-moz-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
.tcenter{-webkit-box-pack: center;-moz-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;}
.v-box{-webkit-box-orient:vertical;box-orient:vertical;}
.tc{text-align:center;}
.in10{padding:10px;}
.mt20{margin-top:10px;}
.d-ib{display:inline-block}
.vm{vertical-align:middle;}

.to{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.abs-footer,
.fix-footer{position:fixed;bottom:0;left:0;width:100%;}
.abs-footer{position:absolute;}

/* module */
.icons{display:inline-block;background:url("../images/iconsCategory.png") 50% 50% no-repeat;background-size:25px auto;width:25px;height:25px;vertical-align:middle;}
.bgs{background:url("../images/iconsArrowRight.png") 0 50% no-repeat;background-size:25px;padding:0 0 0 30px;}
.i-dev{background-position:0 0;}
.i-pe{background-position:0 -50px;}
.i-art{background-position:0 -100px;}
.i-opera{background-position:0 -150px;}
.i-function{background-position:0 -200px;}
.i-other{background-position:0 -250px;}
.i-deliver{background-image:url("../images/iconsDeliver.png");}
.i-share{background-image:url("../images/iconsShare.png");}
.i-arrow-l-w{background-image:url("../images/iconsArrowLeftWhite.png");}
.i-success{background-image:url("../images/iconsSuccess.png");}
.i-notice-g{background-image:url("../images/iconsNotice.png");}
.i-user{background-image:url("../images/iconsUser.png");}
.i-close{background-image:url("../images/iconsClose.png");}
.i-close-o{background-image:url("../images/iconsCloseOrange.png");}
.i-area{background-image:url("../images/iconsArea.png");}
.i-category{background-image:url("../images/iconsCategories.png");}
.i-faver{background-image:url("../images/iconsFaver.png");}
.i-view{background-image:url("../images/iconsView.png");}
.i-pm{background-image:url("../images/iconsPartyment.png");}
.i-search{background-image:url("../images/iconsSearch.png");}
.i-my-resume{background-position:0 0;}
.i-my-deliver{background-position:0 -25px;}
.i-my-faver{background-position:0 -50px;}
.i-my-point{background-position:0 -75px;}
.i-my-share{background-position:0 -100px;}

.bg-arrow-r{background-position:100% 50%;padding:0 15px 0 0;}
.bg-arrow-l{background-image:url("../images/iconsArrowLeft.png");background-position:0 50%;padding:0 0 0 25px;}
.bg-jd{background-image:url("../images/iconsJD.png");}
.bg-jr{background-image:url("../images/iconsJR.png");}
.bg-vc{background-image:url("../images/iconsVC.png");}
.bg-oc{background-image:url("../images/iconsOC.png");}
.bg-username{background-image:url("../images/iconsUserName.png");}
.bg-key{background-image:url("../images/iconsKey.png");}
.bg-arrow-d{background-image:url("../images/iconsArrowDown.png");background-position:100% 50%;background-size:25px;padding:0 20px 0 0;}
.i-arr-rw{background-image:url("../images/iconsArrowRightWhite.png")}
.i-arr-dw{background-image:url("../images/iconsArrowDownWhite.png")}
.bg-none{background-image:url("");}

.menus-box{overflow:hidden;}
.menus{width:50%;text-align:center;position:relative;border:solid 1px #ededed;overflow:hidden;margin:-1px;background:#fff;}
.menus a{display:block;}
.menus .icons{width:50px;height:50px;background-color:#5ec9f6;border-radius:150px;background-size:50px auto;}
.menus .i-pe{background-color:#78c06e}
.menus .i-art{background-color:#ff943e}
.menus .i-opera{background-color:#f5c52f}
.menus .i-function{background-color:#a392c1}
.menus .i-other{background-color:#88aae3}
.menus .txt{display:block;color:#1c1c1c;font-size:14px;font-weight:bold;}

/* 通用橙色按钮 */
.btn,
.btn:visited,
.btn:hover,
.btn:active {
  background: #044199;
  text-align: center;
  color: #fff;
  font-size: 19px;
  line-height: 100%;
  padding: 12px 0;
}
.btn .txt{vertical-align:middle;}

/* 蓝色按钮 */
.btn-s2,
.btn-s2:visited,
.btn-s2:hover,
.btn-s2:active{background-color:#fff;color:#808080}

/* 圆角按钮 */
.btn-s3,
.btn-s3:visited,
.btn-s3:hover,
.btn-s3:active{margin:25px;display:block;border-radius:150px;}

/* 灰色边框 空心按钮 小圆角*/
.btn-s4{color:#7e7e83;border:solid 1px #c5c5c5;font-size:15px;display:inline-block;border-radius:3px;line-height:100%;padding:6px 12px;}

/* 橙色边框 空心按钮 小圆角*/
.btn-s5,
.btn-s5:visited,
.btn-s5:hover,
.btn-s5:active{margin:25px;display:block;border-radius:150px;border:solid 1px #fe8942;background:transparent;color:#fe8942;}

/* 白色边框 空心按钮 小圆角*/
.btn-s6,
.btn-s6:visited,
.btn-s6:hover,
.btn-s6:active{margin:25px;display:block;border-radius:150px;border:solid 1px #fff;background:transparent;color:#fff;}

/* 灰色边框 空心按钮 小圆角*/
.btn-s7,
.btn-s7:visited,
.btn-s7:hover,
.btn-s7:active{margin:25px;display:block;border-radius:150px;border:solid 1px #868686;background:transparent;color:#6d6d6d;}

/* 灰底按钮 */
.btn-s8,
.btn-s8:visited,
.btn-s8:hover,
.btn-s8:active{background-color:#f0f0f0;}

/* 导入按钮 */
.btn-import,
.btn-import:visited,
.btn-import:hover,
.btn-import:active {
  background: url("../images/iconsArrowRightWhite.png") 100% 50% no-repeat #044199;
  background-size: 20px auto;
  font-size: 12px;
  padding: 5px 17px 5px 12px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.select-box{position:relative;}
.select-box select{position:absolute;width:100%;height:100%;line-height:40px;top:0;left:0;opacity:0;}

/* layout */
.normal-page-wrap{background:#fff;position:relative;overflow:auto;min-height:100%;}
.s2-page-wrap{background-color:#ebebeb;}

/* 弹层 */
.alert-wrap{background:rgba(0,0,0,.5);position:fixed;width:100%;height:100%;z-index:999;top:0;left:0;display:none;}
.alert-box{background:#fff;width:80%;position:fixed;top:50%;left:10%;border-radius:10px;text-align:center;}
.alert-content{padding:25px 20px;color:#000;}
.alert-txt{display:inline-block;text-align:left;color:#2b2b2b;font-size:12px;line-height:150%;}
.alert-txt.tc{text-align:center;}
.alert-foot{border-top:solid 1px #e0e0e0;overflow:hidden;}
.alert-header{position:relative;}
.alert-title{border-bottom:solid 1px #e0e0e0;display:block;text-align:center;padding:10px 40px;color:#fd792c;}
.alert-header .btn-close{position:absolute;top:50%;right:10px;margin-top:-12px;}
.a-btn,
.a-btn:visited,
.a-btn:hover,
.a-btn:active {
  color: #044199;
  padding: 7px 0;
  border-left: solid 1px #e0e0e0;
  margin-left: -1px;
}
.a-btn-g,
.a-btn-g:visited,
.a-btn-g:hover,
.a-btn-g:active{color:#6a6a6a;}

/* 职位列表 */
.job-list-wrap{background:#fff;margin:10px 0 0;}
.job-notice{background-color:#fe8942;display:inline-block;margin:15px 0 10px;font-size:15px;color:#fff;padding:0 30px 0 10px;font-weight:normal;border-radius:0 150px 150px 0;position:relative;}
.job-notice::after{content:"\20";position:absolute;width:10px;height:10px;border-radius:150px;background:#fff;display:block;right:10px;top:50%;margin-top:-5px;}
.job-list-box{border-top:solid 1px #f5f5f5;padding:5px 10px 0;margin-bottom:65px;overflow:hidden;}
.job-item{border-bottom:solid 1px #f5f5f5;margin-bottom:-1px;}
.job-item a{display:block;padding:10px 5px;color:#4e4e4e;font-weight:bold;}

.link-touch{position:fixed;right:0;bottom:0;width:16.8%;max-width:126px;margin:5px;}

/* 职位详情 */
.job-detail-wrap{padding-bottom:60px;}
.module-desc{background:#fff;margin:5px 0 15px;padding:0 15px;border-bottom:solid 1px #d9d9da;position:relative;}
.module-desc .title{border-bottom:solid 1px #f5f5f5;padding:8px 0 8px 30px;color:#3d3d3d;}
.module-desc .content{font-size:14px;padding:10px 0;line-height:170%;}
.module-desc .list,
.module-desc .list li{ list-style : decimal inside ;}
.module-desc .nobgs{padding:8px 0;}

.btnbox{
  -webkit-box-shadow :0 0 10px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow :   0 0 10px 0 rgba(0, 0, 0, .3);
  box-shadow :        0 0 10px 0 rgba(0, 0, 0, .3);
}
.share-notice-box{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);text-align:right;z-index:99;}
.share-notice-box img{width:auto;max-width:80%;margin:25px;}

.vcode-show-box{background:#fff;padding:25px;margin-bottom:-15px;text-align:center;position:relative;}
.vcode-show-box .logo{width:40%;margin:0 auto -20%;}
.vcode-show-box img{width:auto;max-width:100%;}
.vcode-show-box .txt{display:block;color:#5b5b5b;font-size:13px;}
.vcode-show-box .follow-us{border-top:solid 2px #7e7e7e}
.vcode-show-box .vcode{display:block;width:60%;margin:20% auto 25px;opacity:0.9;}
.vcode-show-box .vcode-box{border:solid 1px #737373;padding:25px 15px;border-radius:15px;}

/* 确认职位信息 */
.form-normal-wrap{overflow:hidden;}
.form-module{background:#fff;border-bottom:solid 1px #d9d9da;margin:0 0 15px;}
.form-name {
  color: #044199;
  border-bottom: solid 1px #ebebeb;
  font-weight: normal;
  margin: 0 15px;
  padding: 8px 10px;
}

.form-module .form-item:last-child{border:0 none;}
.form-item{margin:0 15px;font-size:16px;line-height:180%;padding:10px;}
.form-item .content{color:#6a6a6a;font-size:14px;}
.form-s-h,
.form-s-v .title{border-bottom:solid 1px #ebeced;}

.form-s-h .title{float:left;margin-right:10px;}
.form-s-h .content{overflow:hidden;text-align:right;color:#6a6a6a;}
.form-s-h .input-inner{text-align:right;}

.form-s-v {padding:10px 0;}
.form-s-v .title{padding:0 10px;}
.form-s-v .content{padding:10px 10px 0;}

.form-s-v .cities-box{padding:10px 8% 0;}
.cities-box .btn-s4{margin:5px 10px;}
.cities-box .active{background:#ff833e;cursor:pointer;color:#fff;border-color:#ff833e;}

.input-box{}
.input-inner{border:0 none;padding:0;margin:0;width:100%;height:26px;font-size:14px;color:#6a6a6a;}
.input-text{height:60px;}

.form-module-show{padding:0 0 10px;}
.form-module-show .form-name{margin-bottom:10px;}
.form-module-show .form-item{border:0 none;padding:0 10px;}
.form-module-show .content{text-align:left;}
.form-module-show .title{margin:0;}
.form-module-show .form-s-v .title{border:0 none;border-top:solid 1px #ebebeb;padding:5px 0;margin:0;}
.form-module-show .form-s-v .content{text-align:left;padding:0;}

.fm-show-s2 .content{text-align:right;}

.form-notice{padding:15px 25px;color:#383838;font-size:14px;line-height:150%;}
.form-notice a{color:#fe7c2d;}
.form-notice .icons{margin-right:10px;}

.form-import{margin:10px 20px 30px;}
.form-import .form-item{padding:10px 0;margin:0 5px;border-bottom:solid 1px #d9d9da;}
.form-vcode .img{width:75px;height:30px;margin-left:10px;}
.form-vcode .input-box{overflow:hidden;}

/* 公告 */
.placard-list-wrap{background:#fff;margin:10px 0 0;}
.placard-list{padding:0 10px;}
.placard-list .placard-item:last-child{border:0 none;}
.placard-item{border-bottom:solid 1px #ebebeb;padding:5px 30px 5px 10px;}
.placard-item .title{color:#252525;}
.placard-item .time{color:#7e7e83;font-size:12px;display:block;}
.pla-notice{color:#808080;padding:5px 15px;font-size:12px;line-height:150%;}
.pla-notice a{color:#808080;}

/* 简历信息 */
.resume-header{background:url("../images/hiResume.jpg") 50% 50% no-repeat;background-size:cover;color:#fff;overflow:hidden;}
.btn-back{padding:5px;}
.p-title{text-align:center;padding:5px 60px;font-weight:normal;}
.avatar-box{text-align:center;margin:25px 0 35px;}
.avatar{width:19.2%;;max-width:144px;border-radius:150px;overflow:hidden;border:solid 5px rgba(255,255,255,.3);margin:0 auto 10px;}

.link-complete-resume{border:solid 1px #ff7336;color:#ff7336;margin-left:5px;padding:2px 8px;line-height:100%;border-radius:150px;}
.complete-notice{font-size:12px;color:#808080;margin:-15px 20px -5px;line-height:130%;}
.complete-notice .icons{width:15px;}
.complete-notice .complete-notice{border:solid 1px #878787;color:#878787;}

.disclaimer{position:relative;display:block;width:65%;margin:0 auto 35px;height:1px;background:#888;}
.disclaimer .txt{color:#888;font-size:14px;background-color:#fff;position:absolute;left:50%;width:58px;margin-left:-47px;line-height:28px;margin-top:-14px;padding:0 15px;border:solid 10px #fff;border-width:0px 5px;}

/* 首页 */
.index-header{overflow:hidden;margin-bottom:250px;}
.index-logo{width:75.8%;max-width:569px;min-width:275px;margin:0 auto;padding:50px 0;}
.btn-admin{margin:10px;background-size:37.5px auto;width:50px;height:50px;}
.nav-box{text-align:center;margin:0 15px}
.navs{background:#ff7336;margin:25px 7px 30px;border-radius:150px;color:#fff;padding:5px 0;font-size:15px;
  -webkit-box-shadow :0 2px 5px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow :   0 2px 5px 1px rgba(0, 0, 0, 0.2);
  box-shadow :        0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
.n-meet{background-color:#fcbb09}
.n-social{background-color:#10dba3}
.navs:visited,
.navs:hover,
.navs:active{color:#fff;}

.n-gray .notice{position:absolute;bottom:0;display:block;left:0;width:100%;text-align:center;font-size:12px;color:rgba(0,0,0,.3)}
.n-gray,
.n-gray:visited,
.n-gray:hover,
.n-gray:active{background-color:#ccc;position:relative;color:rgba(0,0,0,.4);line-height:100%;}

/* 个人中心 */
.account-setting-wrap{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.2);display:none;}
.account-setting{margin-left:15%;height:100%;background:#fe7c2d;overflow:auto;}

.account-nav-wrap .nav-item{color:#fff;display:block;margin:0 10px -1px;padding:10px 25px 10px 10px;border:solid 1px #fe9657;border-width:1px 0;position:relative;font-size:18px;}
.show-more dt .nav-item,
.account-nav-wrap .nav-item:hover{background-color:#fe9657;margin:0 0 -1px;padding:10px 35px 10px 20px;}
.account-nav-wrap .i-my{background-image:url("../images/menusAccountSetting.png");margin-right:10px;}
.account-nav-wrap .i-arr-rw{position:absolute;right:10px;top:50%;margin-top:-12px;}
.account-nav-wrap .i-arr-dw{position:absolute;right:10px;top:50%;margin-top:-12px;}
.show-more .i-arr-rw,
.show-more .i-arr-dw,
.nav-item:hover .i-arr-rw{right:20px;}
.nav-item:hover .i-arr-dw{right:20px;}
.more-nav .nav-item {padding-left:45px;font-size:15px;}
.more-nav .nav-item:hover{padding-left:55px;}

.account-header .avatar-box{margin:10px 0 20px;color:#fff;font-size:12px;line-height:150%;}
.account-header .avatar{width:35%;max-width:230px;}
.account-header .name{font-size:19px;font-weight:bold;line-height:150%;}

/* 我的收藏 */
.normal-list-wrap{background:#fff;}
.normal-list{margin:0 15px;}
.nlist-item{position:relative;}
.nlist-item .link{border-bottom:solid 1px #ebebeb;padding:10px;}
.nlist-item .content{font-style:normal;overflow:hidden;color:#252525;display:block;margin-right:3em;}
.nlist-item .title{line-height:160%;margin-bottom:5px;display:block;}
.nlist-item .info{display:block;font-weight:normal;font-size:13px;color:#656565}
.nlist-item .city{margin-right:15px;}
.nlist-item .status{color:#fc8740;position:absolute;top:50%;right:0;margin-top:-8px;line-height:100%;}
.nlist-item .s-gray{color:#656565;}
.nlist-item .s-red{color:#fe3a4c;}
.faver-btn{margin-bottom:60px;}
.faver-notice{margin:15px;}

.no-data-notice{position:relative;overflow:hidden;background:#ebebeb;}
.no-data-notice .inner{margin:25% 0 135px;color:#6d6d6d;font-size:15px;line-height:160%;}
.no-data-notice .n{color:#a0a0a0;}
.no-data-notice img{width:52%;max-width:210px;margin-bottom:10px;}
.no-data-notice .btn-box{margin:0 15px;}
.no-data-notice .btn{margin:0 10px 45px;}

/* 我的分享 */
.share-list-warp{background:#fff;margin-bottom:60px;}
.share-list{margin:0 10px;border-bottom:solid 1px #ebebeb;overflow:hidden;}
.share-list .item{width:33.33%;text-align:center;font-size:14px;color:#252525;padding:15px 0;background:#fff;}
.share-list .counts .txt{border-right:0 none;}
.share-list .txt{display:block;line-height:100%;}
.share-list .counts a,
.share-list  .status{color:#fc8740}
.share-list  .status.s2{color:#fcbf09}
.share-list .name,
.share-list .job{overflow:hidden;width:auto;}

.share-list .counts img{width:16px;}

.share-list-header .item{color:#656565;font-size:15px;}
.share-list-header .txt{border-right:solid 1px #c9c9c9;border-left:solid 1px #c9c9c9;color:#252525;}
/* 我的积分 */
.btn-intro{font-size:12px;margin:5px 10px;}
.score-header{background:-webkit-gradient(linear,50% 0,50% 100%,from(#fe7c2d),to(#f45d21));overflow:hidden;color:#fff;}
.score-box{width:215px;margin:20px auto 30px;position:relative;}
.score-total{position:absolute;width:100%;height:185.5px;text-align:center;top:0;left:0;display:table;}
.score-total .inner{display:table-cell;vertical-align:middle;height:185.5px;color:#fff;font-size:15px;line-height:150%;}
.score-total .title{display:block;}
.score-total .score{font-weight:normal;}
.score-total .s{font-size:54px;line-height:120%;}
.form-score-total .form-module{margin:0;}
.form-score-total .form-item{padding:20px;margin:0;}
.form-score-total .s{font-size:30px;color:#5a5a61;}

.score-rule-box{border-top:solid 2px #808080;position:relative;}
.score-rule-box .title{width:130px;color:#6d6d6d;font-size:19px;font-weight:normal;left:50%;margin-left:-65px;background:#ebebeb;position:absolute;top:-10px;text-align:center;line-height:100%;}
.score-rule-box .title::after,
.score-rule-box .title::before{content:"\20";position:absolute;top:50%;width:0;height:0;display:block;padding:5px;background:#808080;border-radius:150px;margin-top:-6px;}
.score-rule-box .title::before{left:-5px;}
.score-rule-box .title::after{right:-5px;}
.score-rule-box .rules{padding:15px 20px 10px;}
.score-rule-box .rules,
.score-rule-box .rules li{color:#6d6d6d;font-size:12px;line-height:150%;}

/* 我的投递 */
.my-deliver-page .faver-btn{margin-bottom:60px;}

/* 社会招聘 */
.set-category-box{text-align:center;overflow:hidden;background:#fff;}
.set-category-box .item{overflow:hidden;border-right:solid 1px #c9c9c9;line-height:140%;font-size:15px;margin:5px -1px 5px 0;}
.set-category-box .txt{display:inline-block;vertical-align:middle;}

.social-job-list{background:#fff;margin:10px 0;}
.social-job-content{border-bottom:solid 1px #ebebeb;padding:10px;margin:0 10px;font-size:15px;color:#656565;}
.social-job-content .title,
.social-job-content .title a {
  color: #044199;
  font-size: 16px;
}
.social-job-content .info{font-size:13px;}
.social-job-content .time{font-size:11px;color:#7e7e83;margin:10px 0 0 10px;line-height:100%;max-width:50%;}
.social-job-content .area{margin-right:10px;max-width:50%;}
.social-job-content .pm{overflow:hidden;}
.social-job-content .category{font-size:13px;}
.social-job-content .c-dev{color:#5ec9f6;}
.social-job-content .c-art{color:#ff943e;}
.social-job-content .c-pm{color:#808080;}

.topbar{background:#f5f5f5;border-bottom:solid 1px #d9d9d9;padding:5px 0;}
.topbar .btn-admin{margin:-8px 10px;}
.topbar .btn-back{margin:-2px 0 0 5px;}
.topbar .btn-back .icons{width:0;}

.search-box{background:#e3e4e6;border-radius:150px;height:25px;margin:5px 0;}
.search-box .icons{margin:0 10px;background-position:50% 50%;}
.search-box .input-box{margin-left:10px;}
.search-box .input-inner{background:#e3e4e6;height:25px;vertical-align:top;}

.module-job-info{background:#fff;padding:10px 40px 10px 10px;position:relative;margin:10px 0;border-bottom:solid 1px #d9d9da;}
.module-job-info .info{font-size:12px;margin-right:-30px;}
.module-job-info .i-item{margin-right:5px;}
.module-job-info .title{color:#3d3d3d;font-size:16px;}
.module-job-info .pm {
  color: #044199;
  font-size: 13px;
}
.module-job-info .time{color:#7e7e83;font-size:11px;}
.img-ping{position:absolute;right:15px;top:-3px;display:block;background:#fff;}
.img-ping img{width:24px;position:relative;z-index:3;}
.img-ping .txt{background:#fe7c2d;color:#fff;padding:5px;display:block;width:12px;line-height:100%;font-size:11px;font-weight:normal;border-radius:0 0 50px 50px;position:relative;z-index:3;}
.img-ping::after,
.img-ping::before{content:"\20";display:block;width:0;height:0;position:absolute;border:solid 3px transparent;border-bottom-color:#ee8443;top:-3px;z-index:1;}
.img-ping::after{left:-3px;}
.img-ping::before{right:-3px;}

.img-ping.campus .txt{background:#5cd3b8}
.img-ping.campus::after,
.img-ping.campus::before{border-bottom-color:#5cd3b8}
.img-ping.ping::after,
.img-ping.ping::before{display:none;}

.module-recommend-jobs{background:#fff;}
.module-recommend-jobs .m-title{color:#fe985a;font-weight:normal;border-bottom:solid 1px #f5f5f5;padding:8px 10px;margin:0 10px;}
.module-recommend-jobs .category,
.module-recommend-jobs .title,
.module-recommend-jobs .title a{color:#3d3d3d;display:block;overflow:hidden;}

/* 封面引导层 */
.guide-mask{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.6);z-index:99;}
.guide-mask .g-img{display:none;position:absolute;}
.guide-mask .g-img img{max-width:80%;width:auto;}

.guide-mask .g-personal{top:45px;right:40px;text-align:right;}
.guide-mask .g-mayi{left:50px;bottom:75px;text-align:left;}
.guide-mask .g-join{bottom:75px;right:15px;text-align:right;}
.guide-mask .a-join{bottom:75px;right:55px;text-align:right;}
.guide-mask .a-meeting{width:82%;bottom:75px;text-align:center;left:8%;}


/* 认证成功失败 */
.page-title{color:#656565;font-size:19px;padding:5px 0;}
.approve-result{position:absolute;text-align:center;top:50%;left:50%;margin:-56px 0 0 -100px;}
.approve-result img{width:84px;margin:0 0 10px;}
.approve-result .txt{display:block;width:200px;text-align:center;color:#6d6d6d;font-size:16px;letter-spacing:3px;}
