.normal-page-wrap{background:#fff;position:relative;overflow:auto;}
.s2-page-wrap{background-color:#ebebeb;}
.resume-header{background:url("assets/style/img/hiResume.jpg") 50% 50% no-repeat;background-size:cover;color:#fff;overflow:hidden;}
.btn-back{padding:5px;}
.p-title{text-align:center;padding:5px 60px;font-weight:normal;}
.avatar-box{text-align:center;margin:25px 0 35px;}
.avatar{width:19.2%;;max-width:144px;border-radius:150px;overflow:hidden;border:solid 5px rgba(255,255,255,.3);margin:0 auto 10px;}
.form-normal-wrap{overflow:hidden;}
.form-module{background:#fff;border-bottom:solid 1px #d9d9da;margin:0 0 15px;}
.form-name {
  color: #044199;
  border-bottom: solid 1px #ebebeb;
  font-weight: normal;
  margin: 0 15px;
  padding: 8px 10px;
}

.form-module .form-item:last-child{border:0 none;}
.form-item{margin:0 15px;font-size:16px;line-height:180%;padding:10px;}
.form-item .content{color:#6a6a6a;font-size:14px;}
.form-s-h,
.form-s-v .title{border-bottom:solid 1px #ebeced;}

.form-s-h .title{float:left;margin-right:10px;}
.form-s-h .content{overflow:hidden;text-align:right;color:#6a6a6a;}
.form-s-h .input-inner{text-align:right;}

.form-s-v {padding:10px 0;}
.form-s-v .title{padding:0 10px;}
.form-s-v .content{padding:10px 10px 0;}

.form-s-v .cities-box{padding:10px 8% 0;}
.cities-box .btn-s4{margin:5px 10px;}
.cities-box .active{background:#ff833e;cursor:pointer;color:#fff;border-color:#ff833e;}

.input-box{}
.input-inner{border:0 none;padding:0;margin:0;width:100%;height:26px;font-size:14px;color:#6a6a6a;}
.input-text{height:60px;}

.form-module-show{padding:0 0 10px;}
.form-module-show .form-name{margin-bottom:10px;}
.form-module-show .form-item{border:0 none;padding:0 10px;}
.form-module-show .content{text-align:left;}
.form-module-show .title{margin:0;}
.form-module-show .form-s-v .title{border:0 none;border-top:solid 1px #ebebeb;padding:5px 0;margin:0;}
.form-module-show .form-s-v .content{text-align:left;padding:0;}

.fm-show-s2 .content{text-align:right;}

.form-notice{padding:15px 25px;color:#383838;font-size:14px;line-height:150%;}
.form-notice a{color:#fe7c2d;}
.form-notice .icons{margin-right:10px;}

.form-import{margin:10px 20px 30px;}
.form-import .form-item{padding:10px 0;margin:0 5px;border-bottom:solid 1px #d9d9da;}
.form-vcode .img{width:75px;height:30px;margin-left:10px;}
.form-vcode .input-box{overflow:hidden;}
